<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DashBoardMapper">	
	
	<select id="pjcnt" parameterType="string" resultType="int">
		select count(*) from project where pro_mgr = #{id}
	</select>
	
	<select id="alltodocnt" parameterType="string" resultType="int">
		select count(*) from todo where id=#{id} and t_rend is null
	</select>

	<select id="remaincnt" parameterType="int" resultType="int">
		<![CDATA[
		select count(*) from SCHEDULE where sch_end >= sysdate and sch_rend is null and pro_id=#{pro_id}
		]]>
	</select>
	
	<select id="compcnt" parameterType="int" resultType="int">
		<![CDATA[
		select count(*) from SCHEDULE where sch_rend is not null and pro_id=#{pro_id}
		]]>
	</select>
	
	
	<resultMap type="dto.DashDTO" id="cntTop">
		<result javaType="int" column="total" property="total"/>
		<result javaType="string" column="id" property="id"/>
	</resultMap>
	<select id="toplist" parameterType="int" resultMap="cntTop">
		select count(cid) total,c.pro_id,id from (
		select count(a.id) as cid,a.t_id, a.id,pj.pro_id  from project pj, sch_team st,
		(select sch_id,t_id,id,t_start,t_end,t_rend from todo
		group by sch_id,t_id,id,t_start,t_end,t_rend ) a
		where pj.pro_id = st.pro_id  and a.sch_id = st.sch_id  and pj.pro_id=#{pro_id}
		group by a.t_id,a.id,pj.pro_id
		order by a.t_id asc)c 
		group by c.pro_id,c.id
		order by total  desc
	</select>
		
	
	<!--최근 일정 목록 -->
	<resultMap type="dto.DashDTO" id="recList">
		<result javaType="string" column="sch_name" property="sch_name" />
		<result javaType="string" column="sch_start" property="sch_start" />
		<result javaType="string" column="sch_end" property="sch_end" />
		<!-- <result javaType="string" column="sch_id" property="sch_id" /> -->
		<result javaType="string" column="id" property="id" />
	</resultMap>	
	
	<select id="recentlist" resultMap="recList">
		<!-- select * from schedule where pro_id =#{pro_id} order by SCH_START DESC -->
		select sc.sch_name sch_name, to_char(sc.sch_start,'YYYY-MM-dd') sch_start, to_char(sc.sch_end,'YYYY-MM-dd') sch_end ,td.id id
		from schedule sc, todo td
		where sc.sch_id = td.sch_id and td.id=id order by sch_start desc
	</select>
	
	<select id="comminglist" parameterType="int" resultType="dto.DashDTO">
	<![CDATA[
		select * from schedule where sysdate+3 >= sch_start and sysdate < sch_start and pro_id =#{pro_id} order by sch_id desc
	]]>
	</select>
	
	<resultMap type="dto.DashDTO" id="tList">
		<result javaType="string" column="tl_id" property="tl_id" />
		<result javaType="string" column="tl_info" property="tl_info" />
		<result javaType="string" column="id" property="id" />
	</resultMap>
	<select id="timelist" parameterType="string" resultMap="tList">
		<!-- select * from timeline where pro_id=#{pro_id} order by TL_TIME desc -->
		select DISTINCT(tl.tl_id) tl_id,tl.tl_info tl_info,td.id id from timeline tl, schedule sc,todo td 
		where tl.pro_id = sc.pro_id and sc.sch_id = td.sch_id and td.id=#{id} order by tl.tl_id desc
	</select>
	
	
	<update id="bgChange" parameterType="dto.DashDTO">
		update member set bg_img=#{bgsel} where id=#{id}
	</update>
	
	<select id="bgView" parameterType="string" resultType="string">
		select bg_img from member where id=#{id}
	</select>
	
	
</mapper>
