@charset "UTF-8";


/* text 드래그불가 */
.no-drag {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

/* 문서 전체 가운데정렬 */
.center_box {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

/******************************* 전체 테마 *******************************/
.tmi_skin01{
	background: linear-gradient(120deg, #12c2e9, #c471ed, #f64f59);	
}

.tmi_skin02{
	background: linear-gradient(120deg, #8360c3, #2ebf91);
}

.tmi_skin03{
	    background: linear-gradient(120deg, #ed213a, #93291e);
}

.tmi_skin04{
	background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
}

.tmi_skin05{
	    background: linear-gradient(120deg, #c6ffdd, #fbd786, #f7797d);
}

.tmi_skin06{
	   background: linear-gradient(120deg,#8933d4, #3800a9);
}

.tmi_skin07{
	    background: linear-gradient(120deg, #4b6cb7, #182848);
}

.tmi_skin08{
	    background: linear-gradient(120deg,  #606c88, #3f4c6b);
}

.tmi_skin09{
	    background: linear-gradient(120deg,  #000000, #434343);
}

.tmi_skin10{
	    background: linear-gradient(120deg, #ee9ca7, #ffdde1);
}
/******************************* 전체 테마 *******************************/