@charset "UTF-8";

#pro_div {
	    margin: 45px 0px 0px 80px;
    float: none !important;
}

.project {
	width: 1600px;
    height: 83px;
    margin-bottom: 52px;
    border-bottom: 1px solid;
}

.pro_header {
	float: left;
	width: 200px;
	height: 100%;
}

.pro_body {
	width: 1500px;
	height: 100%;
}

.pro_name {
font-size: 24px;
    border-radius: 50px;
    margin-top: 25px;
    text-align: center;
    height: 51px;
    width: 180px;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.pro_body div , #pro_list div{
	float: left;
	font-size: 25px;
	margin-left: 33px;
	margin-right: 60px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
}

#pro_list{
	width: 1600px;
    height: 60px;
    padding-left: 202px;
}
.pro_body div p{
	    display: inline-block;
    font-size: 59px;
    font-weight: 100;
    font-family: 'Raleway';
}
.pro_per{
	width:200px;
}

.pro_man{
	margin-top: 26px;
	width:200px;
}

.pro_dday{
	width:200px;
}

.pro_end{
	width:200px;
}

.pro_list_per{
	width:200px;
}

.pro_list_man{
	width:200px;
}

.pro_list_dday{
	width:200px;
}

.pro_list_end{
	width:200px;
}

/****************** 버튼 ******************/
.btn {
    color: #fff;
    background: #FF0066;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 4px;
    transition-duration: .25s;
    border: none;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}
/****************** 폼 디자인 ******************/
#pro-form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#pro-form label{
	display: block;
}

#pro_start, #pro_end{
	width: 49% !important;
}

#pro-form input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#pro-form input[type=button]:hover {
  background-color: #45a049;
}

/****************** 검색 디자인 ******************/
.autocomplete-results {
    position: absolute;
    z-index: 99;
    width: 80%;
    max-height: 20em;
    overflow-y: auto;
    font-size: 13px;
    list-style: none;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(27,31,35,.3);
}

.autocomplete-item {
    display: block;
    padding: 5px;
    overflow: hidden;
    font-weight: 600;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.autocomplete-item:hover{
	background-color: #478aff;
	color: white;
}
