
#pj_set{
	width: 700px;
	height: 900px;
	margin: auto;
}
.container{	
	width: 650px;
}

.form-control{
	width: 200px;
}

#pro_info{
	width: 600px;
	height: 300px;
	word-break: break-all;
}

#update,#back{
	float: right;
}

.checkbox-inline {
	width: 300px;
	height: 100px;
	border: 1px solid black;
}

/****************** 폼 디자인 ******************/
#search-bar input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#search-bar label{
	display: block;
}

#search-bar input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-bar input[type=submit]:hover {
  background-color: #45a049;
}

/****************** 검색 디자인 ******************/
.results {
    position: absolute;
    z-index: 99;
    width: 80%;
    max-height: 20em;
    overflow-y: auto;
    font-size: 13px;
    list-style: none;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(27,31,35,.3);
}

.search-item {
    display: block;
    padding: 5px;
    overflow: hidden;
    font-weight: 600;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.search-item:hover{
	background-color: #478aff;
	color: white;
}

